<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.wcy.spring.app.dao.UserDAO">
    <resultMap id="userResultMap" type="me.wcy.spring.app.entity.User"/>

    <sql id="userField">
        id, username, db_create_time, db_update_time, password, phone_number, nickname, signature
    </sql>

    <sql id="userFieldWithoutId">
        username, db_create_time, db_update_time, password, phone_number, nickname, signature
    </sql>

    <insert id="insert" parameterType="me.wcy.spring.app.entity.User">
        insert into user (<include refid="userFieldWithoutId"/>)
        values (
        #{username}, #{db_create_time}, #{db_update_time}, #{password}, #{phone_number}, #{nickname}, #{signature}
        )
    </insert>

    <select id="queryById" parameterType="java.lang.Long" resultMap="userResultMap">
        select
        <include refid="userField"/>
        from user
        where id=#{id}
    </select>

    <select id="queryByUsername" parameterType="java.lang.String" resultMap="userResultMap">
        select
        <include refid="userField"/>
        from user
        where username=#{username}
    </select>

    <update id="update" parameterType="me.wcy.spring.app.entity.User">
        update user
        <set>
            <if test="db_update_time!=null">`db_update_time`=#{db_update_time},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="phone_number!=null">phone_number=#{phone_number},</if>
            <if test="nickname!=null">nickname=#{nickname},</if>
            <if test="signature!=null">signature=#{signature},</if>
        </set>
        where username=#{username}
    </update>
</mapper>