server:
  port: 8100

spring:
  application:
    name: app
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wcy
    username: root
    password: wcy19930921

  redis:
    host: localhost
    port: 6379
    password: wcy19930921

  dubbo:
    application:
      name: app-consumer
    registry:
      address: zookeeper://localhost:2181
    scan: me.wcy.spring.app.remote

  rabbitmq:
    host: localhost
    port: 5672
    username: root
    password: root
    queue: MQQ

#  kafka:
#    bootstrap-servers: localhost:9092
#    consumer:
#      group-id: KG
#      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.apache.kafka.common.serialization.StringSerializer
#    topic: KT

zipkin:
  enable: true
  baseUrl: http://localhost:9411
  serviceName: app

mybatis:
  typeAliasesPackage: me.wcy.spring.app.entity
  mapperLocations: classpath:mapper/*.xml

keytool:
  javaPath: /usr/lib/jvm/java-1.8.0/bin/
  keyPath: /home/keytool/
