@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(1.2)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

* {
    box-sizing: border-box
}

html {
    font-size: 100%
}

body {
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: red;
    overflow: hidden;
    color: #fff
}

::-moz-selection {
    color: #FFF;
    text-shadow: none;
    background-color: #000
}

::selection {
    color: #FFF;
    text-shadow: none;
    background-color: #000
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

.o-background {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    animation-name: fadeIn;
    animation-duration: 5s;
    mix-blend-mode: color-dodge
}

@media screen and (min-width: 60em) {
    .o-background {
        transform: none;
        top: 0;
        height: 100%
    }
}

.o-background.click {
    transform: scale(1.2)
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    .o-background {
        z-index: 0
    }
}

@media screen\0 {
    .o-background {
        z-index: 0
    }
}

.o-centering {
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.o-centering__content {
    position: relative
}

.c-balloon {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    mix-blend-mode: lighten;
    opacity: .8
}

.c-balloon__title {
    font-size: 48px;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400
}

.c-balloon__text {
    font-size: 15px;
    color: #c8cfd6;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 8px
}

.c-balloon__text a {
    color: inherit
}

.c-displayLink {
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: color 300ms
}

.c-displayLink:before {
    content: "";
    position: absolute;
    background-color: currentColor;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 1px;
    top: 120%;
    opacity: .4;
    left: 0;
    right: 0
}

.c-displayLink:hover:before {
    top: -4px
}

.c-displayLink--pink:hover {
    color: #ea4c89
}

.c-displayLink--pink:before {
    background-color: #ea4c89
}

.c-displayLink--black:hover {
    color: #000
}

.c-displayLink--black:before {
    background-color: #000
}

.c-displayLink--green:before {
    background-color: #dfd
}

.c-displayLink--green:hover {
    color: #dfd
}

.c-displayLink--cyan:hover {
    color: #55acee
}

.c-displayLink--cyan:before {
    background-color: #55acee
}

.container {
    text-align: center;
    display: inline;
    vertical-align: middle
}

.quote {
    font-size: 24px;
    margin: 10px 0 0 0;
    color: white
}

.qr {
    margin: 20px 20px 0 0
}

.ribbon {
    background-color: #2ea3f2;
    overflow: hidden;
    position: absolute;
    right: -3em;
    top: 2.5em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888
}

.ribbon a {
    border: 1px solid #228ddd;
    color: #fff;
    display: block;
    margin: .05em 0 .075em 0;
    padding: .5em 3.5em;
    text-align: center;
    text-decoration: none
}